<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/templates/bootstrap-4.0.0/dist/css/bootstrap.css">
	<title></title>
</head>
<body>


<form>
    <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="isbn">ISBN</label>
            <input id="nom" class="form-control" type="text" name="" placeholder="Entrer L'ISBN du Livre">
          </div>
          <div class="col-md-6">
            <label for="">TITRE</label>
            <input id="titre" class="form-control" type="text" name="" placeholder="Entrer le titre du livre">
          </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="datepublication">DATE PUBLICATION</label>
            <input id="datepublication" class="form-control" type="date" name="" placeholder="date publication">
          </div>
          <div class="col-md-6">
            <label for="autheur">AUTEUR</label>
            <input id="autheur" class="form-control" type="text" name="" placeholder="Entrer le nom de l'auteur">
          </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
          <div class="col-12">
            <label for="adresse">Adresse</label>
            <input id="adresse" class="form-control" type="text" name="" placeholder="Entrer votre adresse">
          </div>
        </div>
    </div>
    <div class="form-group">
      <label>Sexe</label>
      <div class="form-row">
          <div class="custom-control custom-control-inline custom-radio">
        <input type="radio" class="custom-control-input" id="radio1" name="radiobouton">
        <label class="custom-control-label" for="radio1">Masculin</label> 
            </div>
          <div class="custom-control custom-control-inline custom-radio">    
        <input type="radio" class="custom-control-input" id="radio2" name="radiobouton">
        <label class="custom-control-label" for="radio2">Ceci est un radiobouton</label>   
            </div>
          </div>
    </div>
    <button class="btn btn-primary">S'inscrire</button>
  </form>

</body>
</html>



